{
    auto_https off
}

:80 {
    root * /var/www/html/src/Infrastructure/Symfony/public
    encode gzip

    @api path /api/*
    handle @api {
        uri strip_prefix /api
        try_files {path} /index.php
        php_fastcgi php:9000
    }

    handle {
        try_files {path} /index.php
        php_fastcgi php:9000 {
            env PHP_VALUE "auto_prepend_file=none"
        }
    }

    log {
        output file /var/log/caddy/access.log
    }
}
